<template>
  <div>
    <Workspace />
  </div>
</template>

<script>
import Vue from 'vue'

import Buefy from 'buefy'
import 'buefy/dist/buefy.css'
Vue.use(Buefy)

import Workspace from '@/components/Workspace.vue'

export default {
  Name: 'home',
  components: {
    Workspace
  }
}
</script>

<style></style>
