<template>
  <BaseCollapsibleCard v-if="isShownNodeDetail">
    <template #header-title>Node detail</template>
    <template #header-right>
      <div
        style="float: right; position: relative; right: 15px; top: 11px"
        @click="hideNodeDetail"
      >x</div>
    </template>

    <template #content>
      <Node :dataId="node.id" :visuals="{baseNodeRadius: 14, groupNodeRadiusDifference: 3, showLabel: true }"></Node>

      <section>
        <h6>Attributes</h6>
        <AttributeTable :attributes="nodeAttributes"></AttributeTable>
      </section>

      <section class="limit-height-scrollable">
        <h6>Connections</h6>

        <LinkedNodesPair
          v-for="id in getLinkIdsConnectedToNode(node.id)"
          :key="id"
          :dataId="id"
          :visuals="{ 
            node: { baseNodeRadius: 15, groupNodeRadiusDifference: 2, showLabel: false, smallLabel: true, maxLength: 12 }, 
            label: { show: false, isBold: false, isSmall: true } 
          }"
          :allowHover="true"
          class="link-pair"
        ></LinkedNodesPair>
      </section>

      <div v-if="isAggregated">
      <section class="limit-height-scrollable">
        <h6 v-if="node.type === 'group'">Group content</h6>
        <h6 v-else-if="node.type === 'alias'">Alias to</h6>
        <h6 v-else>Aggregation</h6>

        <Node
          v-for="node in getNodesInAggregation(node.id)"
          :key="`aggr-${node.id}`"
          :dataId="node.id"
          :visuals="{ baseNodeRadius: 11, groupNodeRadiusDifference: 2, smallLabel: true, showLabel: true }"
          :allowHover="false"
        ></Node>
      </section>
      <section class="joined">
        <b-button
          v-if="isAggregated"
          size="is-small"
          type="is-dark"
          @click="
              ungroupNode(node.id)
              hideNodeDetail()
            "
        >Ungroup</b-button>
      </section>
      </div>

      <div v-if="isBundle">
      <section class="limit-height-scrollable">
        <h6>Bundled nodes</h6>

        <Node
          v-for="node in getNodesInBundle(node.id)"
          :key="`bndl-${node.id}`"
          :dataId="node.id"
          :visuals="{ baseNodeRadius: 12, groupNodeRadiusDifference: 2, smallLabel: true, showLabel: true }"
          :allowHover="false"
        ></Node>
        <b-button
          v-if="isBundle"
          size="is-small"
          type="is-dark"
          @click="
              unbundleNode(node.id)
              hideNodeDetail()
            "
            >Unbundle all</b-button
          >
      </section>
      </div>
    </template>
  </BaseCollapsibleCard>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'
import { isNodeAggregated, isNodeBundle } from '@/store/modules/data.store.js'
import Node from '@/components/Tools/Shared/Node.vue'
import AttributeTable from '@/components/Tools/Shared/AttributeTable.vue'
import LinkedNodesPair from '@/components/Tools/Shared/LinkedNodesPair.vue'

export default {
  components: {
    Node, LinkedNodesPair, AttributeTable
  },

  computed: {
    ...mapState('interaction', ['detailedNode', 'inDebug']),
    ...mapGetters('interaction', ['isShownNodeDetail']),
    ...mapGetters('data', [
      'getNodesInAggregation',
      'getNodesInBundle',
      'getLinkIdsConnectedToNode'
    ]),
    node() {
      return this.$store.getters['data/getNodeById'](this.detailedNode)
    },
    nodeAttributes() {
      if (this.inDebug) return this.node

      return Object.keys(this.node)
        .filter(key => !['id', 'vis', 'label'].includes(key))
        .reduce((obj, key) => {
          obj[key] = this.node[key]
          return obj
        }, {})
    },
    isAggregated() {
      return isNodeAggregated(this.node)
    },
    isBundle() {
      return isNodeBundle(this.node)
    }
  },

  methods: {
    ...mapActions('interaction', ['hideNodeDetail']),
    ...mapActions('data', ['removeNode', 'ungroupNode', 'unbundleNode'])
  }
}
</script>

<style lang="sass" scoped>
@import ../_workspace
section:first-of-type
  margin-top: 0.6em
section
  font-size: 0.9em
  margin-top: 1.4em
  &.limit-height-scrollable
    max-height: 20em
    overflow-y: auto
    overflow-x: hidden
  &.joined
    margin-top: 0
h6
  font-size: 0.95em
  margin-bottom: 0.65em
p
  margin-top: 1.5em
p:first-of-type
  margin-top: 0.5em
button
  margin-top: 0.3em
.link-pair
  margin-bottom: 6px
</style>
