<template>
  <div class="card" v-if="isShownNodePopover">
    <div class="card-content">
      <section>
        <Node
          :dataId="node.id"
          :visuals="{ baseNodeRadius: 10, groupNodeRadiusDifference: 2, showLabel: true }"
        ></Node>
        <AttributeTable :attributes="nodeAttributes"></AttributeTable>
      </section>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import Node from '@/components/Tools/Shared/Node.vue'
import AttributeTable from '@/components/Tools/Shared/AttributeTable.vue'

export default {
  components: {
    Node, AttributeTable
  },

  computed: {
    ...mapState('interaction', ['hoveredNode', 'inDebug']),
    ...mapGetters('interaction', ['isShownNodePopover']),
    node() {
      return this.$store.getters['data/getNodeById'](this.hoveredNode)
    },
    nodeAttributes() {
      if (this.inDebug) return this.node

      return Object.keys(this.node)
        .filter(key => !['id', 'vis', 'label'].includes(key))
        .reduce((obj, key) => {
          obj[key] = this.node[key]
          return obj
        }, {})
    }
  }
}
</script>

<style lang="sass" scoped>
@import ../_workspace

$popover-width: 280px

.card
  width: $popover-width
  position: absolute
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  top: $workspace-margin
</style>
